<div class="row-fluid label-controls">
	<div class="span12">
		<!--<input id="text-attribute-text" class="span12" type="text" value="{{text}}" placeholder="None">-->
		<textarea id="text-attribute-text" class="span12" placeholder="None">{{text}}</textarea>
	</div>
</div>

<div class="row-fluid label-controls">
	<div class="span4">
		<label>Font Size</label>
		<div class="input-append">
  		<input class="span9" id="text-attribute-font-size" type="text" value="{{font_size}}">
  		<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4">
		<label><canvas class="fill-preview" style="background-color: {{fill}}"></canvas> Fill</label>
		<input class="span12" id="text-attribute-fill" type="text" value="{{fill}}" placeholder="none">
	</div>
	<div class="span4">
		<label>Alpha</label>
		<div class="input-append">
			<input class="span9" id="text-attribute-fill-opacity" type="text" value="{{fill_opacity}}">
			<span class="add-on">%</span>
		</div>
	</div>
</div>

<div class="row-fluid label-controls">
	<div class="span4">
		<label>Outline</label>
		<div class="input-append">
  		<input class="span9" id="text-attribute-stroke-width" type="text" value="{{stroke_width}}">
  		<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4">
		<label><canvas class="stroke-preview" style="background-color: {{stroke}}"></canvas> Stroke</label>
		<input class="span12" id="text-attribute-stroke" type="text" value="{{stroke}}" placeholder="none">
	</div>
	<div class="span4">
		<label>Alpha</label>
		<div class="input-append">
			<input class="span9" id="text-attribute-stroke-opacity" type="text" value="{{stroke_opacity}}">
			<span class="add-on">%</span>
		</div>
	</div>
</div>

<div class="row-fluid label-controls">
	<div class="span8">
		<label>Style</label>
		<div class="btn-group attribute-style" id="text-attribute-style" data-toggle="buttons-checkbox">
			<button type="button" class="btn btn-inverse{{#if bold}} active{{/if}}" value="{{#if bold}}true{{else}}false{{/if}}"><b>B</b></button>
			<button type="button" class="btn btn-inverse{{#if italic}} active{{/if}}" value="{{#if italic}}true{{else}}false{{/if}}"><i>I</i></button>
			<button type="button" class="btn btn-inverse{{#if underline}} active{{/if}}" value="{{#if underline}}true{{else}}false{{/if}}"><u>U</u></button>
			<button type="button" class="btn btn-inverse{{#if overline}} active{{/if}}" value="{{#if overline}}true{{else}}false{{/if}}">O&#773;</button>
		</div>
	</div>
	<div class="span4">
		<label>Spacing</label>
		<div class="input-append">
  		<input class="span9" id="text-attribute-spacing" type="text" value="{{spacing}}">
  		<span class="add-on">px</span>
		</div>
	</div>
</div>

<div class="row-fluid label-controls">

	<div class="span4">
		<label>Line height</label>
		<div class="input-append">
			<input class="span9" id="text-attribute-line-height" type="text" value="{{line_height}}">
			<span class="add-on">px</span>
		</div>
	</div>

	<div class="span4">
		<label>Alignment</label>
		<div class="btn-group attribute-label-align" id="text-attribute-align" data-toggle="buttons-radio">
			<button type="button" class="btn btn-inverse" value="start"><span id="icon-align-start">Left</span></button>
			<button type="button" class="btn btn-inverse" value="middle"><span id="icon-align-middle">Center</span></button>
			<button type="button" class="btn btn-inverse" value="end"><span id="icon-align-end">Right</span></button>
		</div>
	</div>

	<div class="span4">
		<label>Width</label>
		<div class="input-append">
			<input class="span9" id="text-attribute-width" type="text" value="{{width}}">
			<span class="add-on">px</span>
		</div>
	</div>
</div>

<div class="row-fluid label-controls">
	<div class="span4">
		<label>x</label>
		<div class="input-append">
			<input class="span9" id="text-attribute-x" type="text" value="{{x}}">
			<span class="add-on">px</span>
		</div>
	</div>
		<div class="span4">
		<label>y</label>
		<div class="input-append">
			<input class="span9" id="text-attribute-y" type="text" value="{{y}}">
			<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4" style="display: none">
		<label>r<sup>&#186;</sup></label>
		<div class="input-append">
			<input class="span9" id="text-attribute-rotate" type="text" value="{{rotate}}">
			<span class="add-on">&nbsp;&#186;&nbsp;</span>
		</div>
	</div>
</div>
