<div class="detail-panel-bucket">
	<h3>Node Attributes</h3>
	<table class="table table-condensed">
		<tr>
			<th>X</th>
			<th>Y</th>
			<th>Rotate</th>
			<th>Scale</th>
			<th>Weight</th>
		</tr>
		<tr>
			<td>{{x}}</td>
			<td>{{y}}</td>
			<td>{{rotate}}</td>
			<td>{{scale}}</td>
			<td>{{weight}}</td>
		</tr>
	</table>
</div>