<div class="row-fluid">
	<div class="span4">
		<label>Marker</label>
		<div class="dropdown" id="marker-start-attribute-type">
			<a class="dropdown-toggle" data-toggle="dropdown" id="select_01" href="#">
				<span class="selection-icon" id="icon-marker-circle"></span> <b class="caret"></b>
			</a>
			<div id="menu1" class="dropdown-menu" role="menu" aria-labelledby="select_01">
			<ul data-toggle="buttons-radio">
				<li role="presentation">
					<button type="button" class="btn" value="none"><span class="selection-icon" id="icon-marker-none">None</span></button>
				</li>
				<li role="presentation">
					<button type="button" class="btn" value="circle"><span class="selection-icon" id="icon-marker-circle">Circle</span></button>
				</li>
				<li role="presentation">
					<button type="button" class="btn" value="square"><span class="selection-icon" id="icon-marker-square">Square</span></button>
				</li>
				<li role="presentation">
					<button type="button" class="btn" value="stem"><span class="selection-icon" id="icon-marker-stem">Hexagon</span></button>
				</li>
				<li role="presentation">
					<button type="button" class="btn" value="equal-arrow-start"><span class="selection-icon" id="icon-marker-equal-arrow-start">Equilateral Arrow</span></button>
				</li>
				<li role="presentation">
					<button type="button" class="btn" value="right-arrow-start"><span class="selection-icon" id="icon-marker-right-arrow-start">Right-angle Arrow</span></button>
				</li>
				<li role="presentation">
					<button type="button" class="btn" value="sharp-arrow-start"><span class="selection-icon" id="icon-marker-sharp-arrow-start">Sharp Arrow</span></button>
				</li>
				<li role="presentation">
					<button type="button" class="btn" value="reverse-start"><span class="selection-icon" id="icon-marker-reverse-start">Reverse Arrow</span></button>
				</li>
			</ul>
			</div>
		</div>
	</div>
	<div class="span4">
		<label><canvas class="fill-preview" style="background-color: {{fill}}"></canvas> Fill</label>
		<input class="span12" id="marker-start-attribute-fill" type="text" value="{{fill}}">
	</div>
	<div class="span4">
		<label>Alpha</label>
		<div class="input-append">
			<input class="span9" id="marker-start-attribute-fill-opacity" type="text" value="{{fill_opacity}}">
			<span class="add-on">%</span>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<label>Border</label>
		<div class="input-append">
			<input class="span9" id="marker-start-attribute-stroke-width" type="text" value="{{stroke_width}}">
			<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4">
		<label><canvas class="stroke-preview" style="border-color: {{stroke}}"></canvas> Stroke</label>
		<input class="span12" id="marker-start-attribute-stroke" type="text" value="{{stroke}}">
	</div>
	<div class="span4">
		<label>Alpha</label>
		<div class="input-append">
			<input class="span9" id="marker-start-attribute-stroke-opacity" type="text" value="{{stroke_opacity}}">
			<span class="add-on">%</span>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<label>Inset</label>
		<div class="input-append">
			<input class="span9" id="marker-start-attribute-offset-x" type="text" value="{{offset_x}}">
			<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4">
		<label>Width</label>
		<div class="input-append">
			<input class="span9" id="marker-start-attribute-width" type="text" value="{{width}}">
			<span class="add-on">px</span>
		</div>
	</div>
</div>