<table class="table table-condensed">
	<tr>
		<th>X</th>
		<th>Y</th>
		<th>Rotate</th>
		<th>Scale</th>
	</tr>
	<tr>
		<td><input id="path-attr-x" type="text" style="width: 40px" value="{{x}}" /></td>
		<td><input id="path-attr-y" type="text" style="width: 40px" value="{{y}}" /></td>
		<td><input id="path-attr-rotate" type="text" style="width: 40px" value="{{rotate}}" /></td>
		<td><input id="path-attr-scale" type="text" style="width: 40px" value="{{scale}}" /></td>
	</tr>
	<tr>
		<th colspan="4">
			<div class="btn-group" id="path-attr-shape" data-toggle="buttons-radio">
				<button type="button" class="btn btn-info" value="circle">Circle</button>
				<button type="button" class="btn btn-info" value="square">Square</button>
				<button type="button" class="btn btn-info" value="hexagon">Hexagon</button>
			</div>
		</th>
	</tr>
	<tr>
		<th colspan="2">Shape Fill</th>
		<td colspan="2">{{fill}}</td>
	</tr>
	<tr>
		<th colspan="2">Stroke</th>
		<td colspan="2">{{stroke_width}}px, {{stroke}}</td>
	</tr>
</table>

<label class="checkbox">
	<input type="checkbox" checked="{{visible}}"> Visible
</label>