<h4>Shape</h4>

<div class="row-fluid">
	<div class="span12">
		<div class="btn-group" id="path-attribute-shape" data-toggle="buttons-radio">
			<button type="button" class="btn btn-inverse" value="circle">
				<span id="icon-shape-circle">Circle</span>
			</button>
			<button type="button" class="btn btn-inverse" value="square"><span id="icon-shape-square">Square</span></button>
			<button type="button" class="btn btn-inverse" value="hexagon"><span id="icon-shape-hexagon">Hexagon</span></button>
			<button type="button" class="btn btn-inverse" value="triangle"><span id="icon-shape-triangle">Triangle</span></button>
			<button type="button" class="btn btn-inverse" value="plus"><span id="icon-shape-plus">Plus</span></button>
			<button type="button" class="btn btn-inverse" value="none"><span id="icon-shape-none">None</span></button>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<label>Area</label>
		<div class="input-append">
  		<input class="span9" id="path-attribute-scale" type="text" value="{{scale}}">
  		<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4">
		<label><canvas class="fill-preview" style="background-color: {{fill}}"></canvas> Fill</label>
		<input class="span12" id="path-attribute-fill" type="text" value="{{fill}}">
	</div>
	<div class="span4">
		<label>Alpha</label>
		<div class="input-append">
			<input class="span9" id="path-attribute-fill-opacity" type="text" value="{{fill_opacity}}">
			<span class="add-on">%</span>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<label>Border</label>
		<div class="input-append">
  		<input class="span9" id="path-attribute-stroke-width" type="text" value="{{stroke_width}}">
  		<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4">
		<label><canvas class="stroke-preview" style="border-color: {{stroke}}"></canvas> Stroke</label>
		<input class="span12" id="path-attribute-stroke" type="text" value="{{stroke}}">
	</div>
	<div class="span4">
		<label>Alpha</label>
		<div class="input-append">
			<input class="span9" id="path-attribute-stroke-opacity" type="text" value="{{stroke_opacity}}">
			<span class="add-on">%</span>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span8">
		<label>Dash</label>
		<div id="path-attribute-stroke-dasharray">
			<input class="span2" type="text" value="">
			<input class="span2" type="text" value="">
			<input class="span2" type="text" value="">
			<input class="span2" type="text" value="">
			<input class="span2" type="text" value="">
			<input class="span2" type="text" value="">
		</div>
	</div>
	<div class="span4">
		<label>Cap</label>
		<div class="btn-group" id="path-attribute-stroke-linecap" data-toggle="buttons-radio">
			<button type="button" class="btn btn-inverse" value="round"><span id="icon-linecap-round">Round</span></button>
			<button type="button" class="btn btn-inverse" value="square"><span id="icon-linecap-square">Square</span></button>
			<button type="button" class="btn btn-inverse" value="butt"><span id="icon-linecap-butt">Butt</span></button>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<label>x</label>
		<div class="input-append">
			<input class="span9" id="path-attribute-x" type="text" value="{{x}}">
			<span class="add-on">px</span>
		</div>
	</div>
		<div class="span4">
		<label>y</label>
		<div class="input-append">
			<input class="span9" id="path-attribute-y" type="text" value="{{y}}">
			<span class="add-on">px</span>
		</div>
	</div>
		<div class="span4">
		<label>r<sup>&#186;</sup></label>
		<div class="input-append">
			<input class="span9" id="path-attribute-rotate" type="text" value="{{rotate}}">
			<span class="add-on">&nbsp;&#186;&nbsp;</span>
		</div>
	</div>
</div>