<table class="table table-condensed">
	<tr>
		<th colspan="2">Font Family</th>
		<td colspan="2">{{font_family}}</td>
	</tr>
	<tr>
		<th colspan="2">Font Size</th>
		<td colspan="2">{{font_size}}px, {{font_weight}}</td>
	</tr>
	<tr>
		<th colspan="2">Color</th>
		<td colspan="2">{{fill}}</td>
	</tr>
	<tr>
		<th colspan="2">Stroke</th>
		<td colspan="2">{{stroke_width}}px, {{stroke}}</td>
	</tr>
	<tr>
		<th>X</th>
		<th>Y</th>
		<th>Rotate</th>
		<th> </th>
	</tr>
	<tr>
		<td><input type="text" style="width: 40px" value="{{x}}" /></td>
		<td><input type="text" style="width: 40px" value="{{y}}" /></td>
		<td>{{rotate}}</td>
		<td> </td>
	</tr>
</table>

<label class="checkbox">
	<input type="checkbox" checked="{{visible}}"> Visible
</label>