<h4>Shape</h4>

<div class="row-fluid">
	<div class="span12">
		<div class="btn-group" id="path-attr-shape" data-toggle="buttons-radio">
			<button type="button" class="btn btn-inverse" value="circle">cr</button>
			<button type="button" class="btn btn-inverse" value="square">sq</button>
			<button type="button" class="btn btn-inverse" value="hexagon">hx</button>
			<button type="button" class="btn btn-inverse" value="circle">tr</button>
			<button type="button" class="btn btn-inverse" value="square">pl</button>
			<button type="button" class="btn btn-inverse" value="hexagon">(/)</button>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<label>Area</label>
		<div class="input-append">
  		<input class="span9" id="path-attr-scale" type="text" value="{{scale}}">
  		<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4">
		<label>Fill</label>
		<input class="span12" id="path-attr-fill" type="text" value="{{fill}}">
	</div>
	<div class="span4">
		<label>Alpha</label>
		<div class="input-append">
			<input class="span9" id="node-attr-fill-opacity" type="text" value="100">
			<span class="add-on">%</span>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<label>Border</label>
		<div class="input-append">
  		<input class="span9" id="path-attr-stroke-width" type="text" value="{{stroke_width}}">
  		<span class="add-on">px</span>
		</div>
	</div>
	<div class="span4">
		<label>Stroke</label>
		<input class="span12" id="path-attr-stroke" type="text" value="{{stroke}}">
	</div>
	<div class="span4">
		<label>Alpha</label>
		<div class="input-append">
			<input class="span9" id="node-attr-stroke-opacity" type="text" value="100">
			<span class="add-on">%</span>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span8">
		<label>Dash</label>
		<div id="path-attr-stroke-dasharray">
			<input class="span2" type="text">
			<input class="span2" type="text">
			<input class="span2" type="text">
			<input class="span2" type="text">
			<input class="span2" type="text">
			<input class="span2" type="text">
		</div>
	</div>
	<div class="span4">
		<label>Cap</label>
		<div class="btn-group" id="path-attr-stroke-linecap" data-toggle="buttons-radio">
			<button type="button" class="btn btn-inverse" value="round">r</button>
			<button type="button" class="btn btn-inverse" value="square">s</button>
			<button type="button" class="btn btn-inverse" value="butt">b</button>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span4">
		<label>x</label>
		<div class="input-append">
			<input class="span9" id="path-attr-x" type="text" value="{{x}}">
			<span class="add-on">px</span>
		</div>
	</div>
		<div class="span4">
		<label>y</label>
		<div class="input-append">
			<input class="span9" id="path-attr-y" type="text" value="{{y}}">
			<span class="add-on">px</span>
		</div>
	</div>
		<div class="span4">
		<label>r<sup>&#186;</sup></label>
		<div class="input-append">
			<input class="span9" id="path-attr-rotate" type="text" value="{{rotate}}">
			<span class="add-on">&nbsp;&#186;&nbsp;</span>
		</div>
	</div>
</div>